<p>orders works!</p>
<div class="wrapper">
    <div class="image-holder">
        <img src="assets/images/form-wizard.png" alt="">
    </div>
    <form action="">
        <div id="wizard">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
                <div class="container-fluid">
                    <div class="row">
                    <div class="col">
                        
                    <ace-record-form object-id="da60bdfecc3843c9b3ff11a7becdc6d1" record-id="-1"  id="rf_pi"
                    css-classlist="bg-white border-0 p-0"></ace-record-form>
                    </div>
                    </div>
                </div>
            </section>
            
            <!-- SECTION 2 -->
            <h4></h4>
            <section>
                <div class="container-fluid">
                    <div class="row">
                    <div class="col">
                        <ace-record-form object-id="ef870343f5f741d1b1787be4e2e93175" record-id="-1"  id="rf_bi"
                    css-classlist="bg-white border-0 p-0"></ace-record-form>
                    
                    </div>
                    </div>
                </div>
            </section>

            <!-- SECTION 3 -->
            <h4></h4>
            <section>
                <div class="container-fluid">
                    <div class="row">
                    <div class="col">
                        
                    <ace-record-form object-id="c162283a2ff9432da9cc6e56381bc358" record-id="-1"  id="rf_si"
                    css-classlist="bg-white border-0 p-0"></ace-record-form>
                    
                    </div>
                    </div>
                </div>
            </section>

            <!-- SECTION 4 -->
            <h4></h4>
            <section>
                 <div class="container-fluid">
                    <div class="row">
                    <div class="col">
                        
                    <ace-record-form object-id="48c917f7612f49509bebcacc8d5c1013" record-id="-1"  id="rf_payi"
                    css-classlist="bg-white border-0 p-0"></ace-record-form>
                    
                    
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
    <ace-record-form object-id="3bc6abe363ae4473b063598e2b73bdc3" record-id="-1"  id="order_info"
                    css-classlist="sr-only"></ace-record-form>
</div>