<div class="page-container container-fluid ">

    <div class="page-content">


        <div class="row">
            <div class="col-sm ">
                <div class="header-logo ">
                    <h2 class="text-font-passion-one ">
                        <span class="ace-text-secondary">[</span>
                        <span class="ace-text-primary">
                            Q</span>
                        <span class="ace-text-secondary"> ]</span>
                        <span class="ace-text-secondary">
                            Loans
                        </span>
                    </h2>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="theme-switches">

                    <a href="javascript:void(0)" class="theme-switch-link theme-switch-link-default"
                        (click)="switchTheme('default')"></a>
                    <a href="javascript:void(0)" class="theme-switch-link theme-switch-link-pink"
                        (click)="switchTheme('pink')"></a>
                    <a href="javascript:void(0)" class="theme-switch-link theme-switch-link-green-blue-gray"
                        (click)="switchTheme('green-blue-gray')"></a>
                    <a href="javascript:void(0)" class="theme-switch-link theme-switch-link-pink-gray-blue"
                        (click)="switchTheme('')"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-5">
                <div class="instructions-class">

                    <h2 class="ace-text-primary"> Application Instructions</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel iaculis dolor, ut luctus nibh.
                        Sed
                        blandit
                        ante a orci rhoncus dapibus eget id tortor. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus.</p>
                    <p>Nunc eu nibh pulvinar, fringilla leo at, semper elit. Interdum et malesuada fames ac ante ipsum
                        primis in
                        faucibus. Phasellus vol</p>
                    <h3>Etiam ac eros non turpis.</h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>In tempor sem et lacus auctor cursus.</li>
                        <li>Curabitur maximus turpis eu egestas aliquet.</li>
                        <li>Aliquam sit amet risus in risus pharetra condimentum nec quis urna.</li>
                        <!-- <li>Suspendisse posuere tellus eget lacus vehicula sagittis.</li>
                    <li>Aenean molestie quam a ligula viverra, non auctor libero malesuada.</li> -->
                        <li>Etiam nec neque sed mauris hendrerit dictum.</li>
                        <li>Duis at est in felis rutrum luctus.</li>
                    </ul>
                    <p class="disclaimer-text">
                        * In pretium pellentesque aliquam. Pellentesque nunc arcu, tincidunt vel arcu ultrices,
                        venenatis suscipit enim. Aenean placerat purus et augue tempus, ac sagittis nisi commodo. Duis
                        porta mauris sit amet enim vestibulum consequat.
                    </p>
                </div>

            </div>
            <div class="col-sm-5">
                <div class="form-card">

                    <mat-horizontal-stepper #loanApplicationStepper (selectionChange)="stepSelectionChange($event)"
                        [linear]="isLinear">
                        <mat-step label="Loan Info" [stepControl]="loanInfoFormGroup">
                            <div class="step-content">

                                <ace-record-form object-id="e0df6383df034137889ff583fedd9cc6" record-id="-1"
                                    layout-id="c2cc1ca4e8154341ba36aa3fa42f3770" id="loanInformationForm"
                                    #loanInformationFormRef css-classlist="border-0 p-0"
                                    (load)="loanInformationFormOnloadHandler($event)"
                                    (save)="loanInfoFormSaveHandler($event)"></ace-record-form>
                            </div>

                            <div class="step-actions-below">
                                <!-- <button mat-button matStepperPrevious>Back</button> -->
                                <button matStepperNext class="ace-btn ace-primary"
                                    (click)="validateLoanInfoFormAndNavigate()">Add applicant info</button>
                            </div>

                        </mat-step>
                        <mat-step label="Applicant Info" [stepControl]="applicantInfoFormGroup">
                            <div class="step-content">

                                <ace-record-form object-id="0fe671eb58034f8b9508be2f74c054d8" record-id="-1"
                                    layout-id="bb87298d84514d6c8fcd739492ed24c0" id="ApplicantInfoForm"
                                    id="applicantInfoForm" #applicantInfoFormRef
                                    (load)="applicantInformationFormOnloadHandler($event)"
                                    (save)="applciantInfoFormSaveHandler($event)" css-classlist="border-0 p-0">
                                </ace-record-form>
                            </div>

                            <div class="step-actions-below">
                                <button class="ace-btn ace-secondary button-separator-space" matStepperPrevious>Edit
                                    loan
                                    info</button>
                                <button class="ace-btn ace-primary" matStepperNext
                                    (click)="validateApplicantInfoFormAndNavigate()">Preview</button>
                            </div>

                        </mat-step>

                        <mat-step label="Preview & Submit" [completed]="true">
                            <div class="step-content">
                                <ng-container *ngIf="showSuccessfullMessage; else showMainContent">
                                    <div class="success-message-container ace-text-secondary">

                                        <h4 class="ace-text-primary">Successfully applied</h4>
                                        <p>You will receive an email confirmation</p>
                                        <!-- <button class="ace-btn ace-primary">Ok</button> -->
                                    </div>

                                </ng-container>
                                <ng-template #showMainContent>
                                    <ng-container *ngIf="shouldPreview">

                                        <div class="preview-loan-info">
                                            <h4 class="ace-text-primary">Loan Info</h4>
                                            <ace-record-form object-id="e0df6383df034137889ff583fedd9cc6" record-id="-1"
                                                layout-id="c2cc1ca4e8154341ba36aa3fa42f3770" id="preLoanInformationForm"
                                                #preLoanInformationFormRef css-classlist="border-0 p-0"
                                                is-readonly="true" (load)="preLoanInformationFormOnloadHandler($event)">
                                            </ace-record-form>
                                        </div>
                                        <div class="preview-applicant-info">
                                            <h4 class="ace-text-primary">Applicant(s) Info</h4>
                                            <ace-record-form object-id="0fe671eb58034f8b9508be2f74c054d8" record-id="-1"
                                                layout-id="bb87298d84514d6c8fcd739492ed24c0" id="ApplicantInfoForm"
                                                id="preApplicantInfoForm" #preApplicantInfoFormRef is-readonly="true"
                                                (load)="preApplicantInformationFormOnloadHandler($event)"
                                                css-classlist="border-0 p-0">
                                            </ace-record-form>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </div>

                            <div class="step-actions-below" *ngIf="!showSuccessfullMessage">
                                <button class="ace-btn ace-secondary button-separator-space" matStepperPrevious
                                    [disabled]="isSavingInProgress">Edit
                                    applicant info</button>
                                <button class="ace-btn ace-primary button-separator-space" (click)="submitApplication()"
                                    [disabled]="isSavingInProgress">Submit</button>
                                <span *ngIf="isSavingInProgress" class="spinner-element">
                                    <app-spinner></app-spinner>
                                </span>
                            </div>
                        </mat-step>

                    </mat-horizontal-stepper>
                </div>

            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <div class="page-footer">
        <strong>

        <small> &copy; [Q] Loans Inc. 2020 </small>
    </strong>

    </div>
</div>