.header-logo {
    padding: 10px 40px;
}
.header-logo h2 {
    margin: 0;
}
.page-container {
    min-height: 100vh;
}
.instructions-class {
    padding: 60px 40px 20px 40px;
}
.instructions-class .disclaimer-text {
    margin-top: 40px;
    font-size: 60%;
    font-style: italic;
}

.form-card {
    padding: 20px 20px 0 20px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
}

.step-content {
    padding: 0 40px 20px 40px;
    min-height: 450px;
    max-height: 700px;
    overflow: auto;
    margin-bottom: 20px;
}
.step-actions-below {
    text-align: center;
    padding: 20px;
}

.preview-loan-info,
.preview-applicant-info {
    margin-bottom: 20px;
    padding: 20px;
}

.success-message-container {
    padding: 20px;
    text-align: center;
}

.spinner-element {
    padding: 5px 0;
}
.spinner-element app-spinner {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}
.page-footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}
.theme-switches {
    text-align: right;
    padding: 10px 0;
}
.theme-switch-link {
    padding: 2px 10px;
    margin: 0 5px;
    font-size: 1px;
    background-color: rgba(133, 133, 133, 0.438);
}
.theme-switch-link-default {
    background-color: #fff;
    border: 1px solid #00065e;
}
.theme-switch-link-pink {
    background-color: #ee0083;
    border: 1px solid #fff;
}
.theme-switch-link-pink-gray-blue {
    background-color: #607d8b;
    border: 1px solid #fff;
}
