header {
	border-bottom: 5px solid map-get($theme-colors, "dark");
	background-color: map-get($theme-colors, "light");
}

//stepper settings
.mat-step-icon {
	background-color: map-get($theme-colors, "primary");
	color: map-get($theme-colors, "light");
}

// loan card
.form-card {
	// box-shadow: 0 1px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: map-get($theme-colors, "light");
}

//utility classes
.button-separator-space {
	margin-right: 10px;
}

html body {
	.page-container {
		background-image: url(./img/page-bg.jpg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: 100%;

		.preview-loan-info,
		.preview-applicant-info {
			border: 1px solid map-get($theme-colors, "secondary");
		}
	}
}
