.header-logo{
    padding: 10px 40px;
}
.header-logo h2{
    margin: 0;
}

.instructions-class{
    padding:60px 40px 20px 40px
    
}
.instructions-class .disclaimer-text{
margin-top: 40px;
font-size: 60%;
font-style: italic;
}

.form-card{
    padding: 20px 20px 0 20px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    
}

.step-content{
    padding:0 40px 20px 40px;
    height: 450px;
    overflow: auto;
    margin-bottom: 20px;
}
.step-actions-below{
    text-align: center;
    padding: 20px;
}

.preview-loan-info,.preview-applicant-info{
    margin-bottom: 20px;
    padding: 20px;
}