.bread-crumb-sapcer{
    height: 80px;
}

.instructions-class{
    padding:40px 20px 20px ;
}

.form-card{
    padding: 40px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    
}

