.bread-crumb-sapcer{
    height: 80px;
}

.instructions-class{
    padding:40px 20px 20px ;
}

.form-card{
    padding: 40px 40px 0 40px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    
}

.step-content{
    padding:0 20px 20px 0;
    height: 450px;
    overflow: auto;
    margin-bottom: 20px;
}
.step-actions-below{
    text-align: center;
    padding: 20px;
}