header{
	border-bottom: 5px solid map-get($theme-colors, "dark");
}


//stepper settings
.mat-step-icon{
	background-color: map-get($theme-colors, "primary");
	color: map-get($theme-colors, "light");
}

//utility classes
.button-separator-space{
	margin-right: 10px;
}





